
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>

                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>

                    <th scope="col">Image</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product=> { %>
                    <tr>
                        <th>
                            <%= product.id %>
                        </th>
                        <td>
                            <%= product.title %>
                        </td>

                        <td scope="col">
                            <%= product.price %>
                        </td>
                        <td>
                            <%= product.description %>
                        </td>
                        <td>
                            <%= product.category %>
                        </td>
                        <td><img src="<%= product.image %>" alt="<%= product.title %>" style="max-width: 100px;"></td>
                        <td>
                            <%= product.rating.rate %>
                        </td>
                        <td>
                            <%= product.rating.count %>
                        </td>
                    </tr>
                    <% }) %>

            </tbody>
        </table>
    